# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.env

#password
password.txt

#Ignore serverless manifest files
serverless.manifest.json
.serverless/manifest.json
.DS_Store